/* --------- Only Visible in the Less File --------- */
/* -------------------- Mix-ins -------------------- */
/* ------------------- Variables ------------------- */
/*-- Fonts --*/
/*-- Colors --*/
/*- Text -*/
/*- Backgrounds -*/
/* ------------------- Body CSS ------------------- */
* {
  margin: 0;
}
html,
body {
  margin: 0px;
  background-color: #eef3d6;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  overflow-x: hidden;
  background-image: url('../imgs/revealLogo-01-transparent.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
p {
  padding: 0px 10px;
  font-size: 14pt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.hoverGS {
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -moz-transition: 1s filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  transition: 1s filter linear;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.hoverGS:Hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.if-Grid-Item {
  min-height: 240px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.img-rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 32s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.if-majorHeader {
  display: block;
  text-align: center;
  padding-top: 25px;
  font-size: 30pt;
}
.if-majorHeader-line {
  display: block;
  text-align: center;
  border-bottom: 2px solid #6d6e70;
  padding-top: 25px;
  font-size: 30pt;
}

.copyright-center {
  text-align: center;
  margin: auto auto;
}
